@* this will also be used as page title in main layout *@
@{ ViewData["title"] = "Pradžia"; }
<div class="Container" style="display: flex;justify-content: center">
    <img src="https://g.delfi.lt/images/pix/lsmu-kauno-klinikos-60775953.jpg" width="65%">
</div>